body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    overflow: hidden;
}
#message-container {
    position: absolute;
    border: 3px solid rgb(82, 82, 82);
    top: 5%;
    height: 600px;
    width: 80%;
    max-width: 1200px;
    overflow: auto;
}
#message-container::-webkit-scrollbar { width: 0 !important }

#message-container div {
    background-color: #CCC;
    padding: 10px;
    font-size: 20px;
}
#message-container div:nth-child(2n) {
    background-color: #FFF;
}

#users-container {
    position: absolute;
    border: 3px solid rgb(82, 82, 82);
    top: 5%;
    left: 3%;
    height: 600px;
    width: 80%;
    max-width: 200px;
    overflow: auto;
}
#users-container::-webkit-scrollbar { width: 0 !important }
#users-container div {
    background-color: #CCC;
    padding: 10px;
    font-size: 20px;
}
#users-container div:nth-child(2n) {
    background-color: #FFF;
}

#message-input {
    position: relative;
    width: 600px;
    height: 30px;
    top: 90%;
    margin-left: -70%;
    outline: none;
}
.send-buttons {
    position: relative;
    width: 70px;
    height: 36px;
    top: 90%;
    margin-left: 0%;
    outline: none;
    margin: 1px;
}

#send-container{
    position: absolute;
    top: 93%;
    left: 60%;
}

#message-container{
    display: none;
}
#send-container{
    display: none;
}
#users-container{
    display: none;
}
#login{
    display: block;
}

#tokenInputRegister{
    display: none;
}
#tokenRegisterButton{
    display: none;
}